<%= form_for [@portfolio, @position] do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :isin, :class => "control-label" %>
    <%= f.text_field :isin, :class => "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :units, :class => "control-label" %>
    <%= f.number_field :units, :class => "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :currency, :class => "control-label" %>
    <%= f.text_field :currency, :class => "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :purchase_date, :class => "control-label" %>
    <%= f.date_select :purchase_date, {}, { :class => "form-control" } %>
  </div>
  <div class="field form-group">
    <%= f.label :purchase_price, :class => "control-label" %>
    <%= f.text_field :purchase_price, :class => "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :current_price, :class => "control-label" %>
    <%= f.text_field :current_price, :class => "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :asset_class, :class => "control-label" %>
    <%= f.text_field :asset_class, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-default" %>
  </div>

<% end %>
