<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @portfolio.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @portfolio.description %>
</p>

<p>
  <strong>Default currency:</strong>
  <%= @portfolio.default_currency %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<a href="javascript:location.href = '/'">Back</a>
