<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1>Portfolio</h1>
        <p>
          <strong>Name:</strong>
          <%= @portfolio.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @portfolio.description %>
        </p>

        <p>
          <strong>Default currency:</strong>
          <%= @portfolio.default_currency %>
        </p>

        <%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
        <a href="javascript:location.href = '/'">Back</a>
    </div>
  </div>
</div>