<td><%= isin %></td>
<td><%= units %></td>
<td><%= currency %></td>
<td><%= purchase_date %></td>
<td><%= purchase_price %></td>
<td><%= current_price %></td>
<td><%= asset_class %></td>
<td><%= ticker_symbol %></td>
<td><%= description %></td>
<td>
    <button class="edit-position btn btn-default"><i class="fa fa-edit"></i></button>
    <button class="delete-position btn btn-default"><i class="fa fa-times"></i></button>
</td>